body{
    background: url(../img/bg.gif) repeat-x #303030;
}

h1, h2, h3, h4, h5, h6{
    color: #fff;
}


.jumbotron{
    border: 7px solid #fff;
}

.container{
    max-width: 800px;

}

.photo{
    margin-bottom: 10px;
}

.album_face{
    width: 100%;
    display: block;
    min-height: 150px;
    background-size: cover;
    padding: 10px;
    margin-bottom: 15px;
}

.album_face:hover{
    text-decoration: none;
}

.album_face h3{

}

.support_blok {
    padding-top: 30px;
    padding-bottom: 20px;
}

.social_vk table {
    margin: 0 auto;
}

@media screen and (min-width: 768px) {

    .photo{
        height: auto;
    }

    .header .menu{
        padding-top: 80px;
    }

    .navbar-brand{
        display: none;
    }

    .jumbotron{
        background: url(../img/mainimage.jpg) no-repeat;
        background-size: cover;
        min-height: 300px;
    }
}
